@import ".config/wofi/colors/mocha.css";

* {
    font-family: SFPro;
    font-size: 17px;
    border-radius: 15px;
}

window {
    margin: 5px;
    background-color: @mantle;
    border: 2px solid black;
    border-radius: 15px;
}

#outer-box {
    margin: 4px;
    border-radius: 15px;
}

#input {
    margin: 10px 10px 20px 10px;
    background-color: @crust;
    color: @subtext1;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid @subtext1; 
}

#inner-box {
    margin: 0px 10px 50px 10px;
    border-radius: 0px;
    background-color: @mantle;
}

#scroll {
    margin: 0px 0px;
    border-radius: 8px;
    border: none;
}

#text {
    margin: 2px;
}

#entry {
    border: none;
    border-radius: 8px;
}


#entry:selected {
    color: @crust;
    background-color: @lavender;
}