@import "../colors/nord.css";

/* margin: top right bottom left */
/* Spacing outside the element */

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome;
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(59, 66, 82, 0.9);
  color: @nord5;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @nord1;
}

tooltip label {
  color: @nord5;
}

#custom-launcher,
#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#memory,
#custom-dunst,
#custom-powermenu,
#workspaces {
  margin: 10px 10px 10px 10px;
	border-radius: 15px;
  color: @nord15;
  background-color: @nord1;
}

#workspaces {
  border-radius: 15px;
  transition: none;
  background: @nord0;
}

#workspaces button{
  padding: 16px 20px 16px 18px;
  color: @nord5;
  background: @nord0;
  border-radius: 15px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: @nord0;
}

#workspaces button.active {
	border-radius: 15px;
  color: @nord1;
  background: @nord14;
}

/* ========= APP LAUNCHER ========= */

#custom-launcher {
  font-size: 18px;
  padding: 0px 23px 0px 20px;
  margin: 10px 5px 0px 20px;
}

/* ========= CLOCK ========= */

#clock.hours {
  font-size: 17px;
  padding: 15px 15px 0px 15px;
  margin: 0px 10px 0px 10px;
  color: @nord5;
  background-color: @nord0;
	border-radius: 15px 15px 0px 0px;
}

#clock.minutes {
  font-size: 17px;
  padding: 15px 15px 15px 15px;
  margin: 0px 10px 0px 10px;
  color: @nord5;
  background-color: @nord0;
	border-radius: 0px 0px 15px 15px;
}

/* ========= VOLUME ========= */

#pulseaudio.icon {
  font-size: 22px;
  padding: 8px 13px 5px 13px;
  margin: 10px 10px 0px 10px;
  color: @nord1;
  background-color: @nord10;
	border-radius: 15px 15px 0px 0px;
}

#pulseaudio.sound {
  font-size: 17px;
  color: @nord5;
  padding: 11px 10px 8px 10px;
  margin: 0px 10px 10px 10px;
  background-color: @nord0;
	border-radius: 0px 0px 15px 15px;
}

/* ========= NETWORK ========= */

#network.icon {
  font-size: 19px;
  padding: 8px 18px 5px 12px;
  margin: 10px 10px 0px 10px;
  color: @nord1;
  background-color: @nord13;
	border-radius: 15px 15px 0px 0px;
}

#network.strenght {
  font-size: 17px;
  color: @nord5;
  padding: 11px 10px 8px 10px;
  margin: 0px 10px 10px 10px;
  background-color: @nord0;
  border-radius: 0px 0px 15px 15px;
}

/* ========= BATTERY ========= */

#battery.icon {
  font-size: 20px;
  padding: 8px 13px 5px 14px;
  margin: 10px 10px 0px 10px;
  color: @nord1;
  background-color: @nord11;
	border-radius: 15px 15px 0px 0px;
}

#battery.value {
  font-size: 17px;
  color: @nord5;
  padding: 11px 10px 8px 10px;
  margin: 0px 10px 10px 10px;
  background-color: @nord0;
  border-radius: 0px 0px 15px 15px;
}

#custom-powermenu {
  font-size: 19px;
  padding: 15px 22px 15px 17px;
  background-color: @nord0;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
